{% extends "main.html" %}
{% load static %}

{% block content %}
<body>
    <section class="slider">
      
      <div class="image-slider" id="sliderText">
        <img class="top-image" src="{% static 'images/denys/pie.jpg' %}" alt="image of bunches">
        <img src="{% static 'images/denys/bunches.jpg' %}" alt="tasty pie">
      </div>

      <div class="slider-text">
        <h1>Welcome to Dolche FACTORY</h1>
        <p>Discover the finest desserts in town!</p>
      </div>
      <div class="slider-button">
        <a href="Reservation.html" class="btn">Book a table</a>
      </div>

    </section>


    <section class="information">
      <div class="two-blocks-container">
        <div class="picture">
          <img src="{% static 'images/denys/bakery.jpg' %}" alt="Bakery Image" class="left-image"> 
        </div>
        <div class="text-about">
          <span class="subheading">Про нас</span>
          <h3>Ласкаво просимо в нашу пекарню</h3>
          <p>Ми пропонуємо найсвіжіші та смачні випічку, виготовлену з найкращих інгредієнтів. 
            Наша пекарня - це місце, де смак та якість поєднуються, щоб задовольнити ваші смакові ковзки. 
            Наші кулінарні майстри завжди готові порадувати вас солодощами високої якості.

            Приходьте до нас, щоб насолодитися кожним куценьким кусочком, від якого не відмовитися. Наша випічка робить ваші дні яскравішими та солодшими. 
            Незалежно від того, чи ви приходите на сніданок, обід чи вечерю, ми завжди готові зробити це особливим. 
            Ми віримо, що справжнє задоволення полягає в кожному деталі, і саме тому ми докладаємо максимум зусиль, щоб подарувати вам найкраще гастрономічне враження. 
            Приходьте до Dolche FACTORY та дозвольте нам розкрити перед вами секрети справжнього смаку.
            
          </p>
        </div>
      </div>
    </section>
    <section class="contacts">
      <div class="contacts-content">
        <div class="instagram-button">
          <a href="https://www.instagram.com/dolce__factory/" target="_blank" class="btn btn-instagram">Follow us on Instagram</a>
        </div>
        <div class="working-hours">
          <p>Понеділок - Неділя: 8:00 - 22:00 </p>
          <p>Бронювання: +380 96 900 05 05</p>         
          <p>Замовлення десертів та тортів: + 380 50 900 05 05</p>
          
        </div>
      </div>
    </section>
    <script src="{% static 'main/home.js' %}"></script>
    
   
</body>
{% endblock %}
