/* Add this CSS to your style.css file */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  margin: 0;
  position: relative; 
}

.image-slider img {
  max-width: 100%;
 
}

.links-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px; /* Add some padding for spacing */
  background-color: rgba(96, 86, 86, 0.8); /* Add a background color for readability */
}

.top-image {
  position: absolute;
  opacity: 0;
  transition: all 2.5s ease;
}

.top-image:hover{
  opacity: 1;
}


/* Style the links */
.links-content a {
  display: inline-block; /* Use inline-block to allow styling */
  padding: 10px;
  text-decoration: none;
  color: #bcbfcd74; /* Set link color */
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Add bold font-weight */
  transition: color 0.3s; /* Add smooth color transition on hover */
}

.links-content a:hover {
  color: #ef9e088f; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center-align text within .slider-text */
  color: rgb(83, 44, 2); /* Set text color to make it visible on top of the image */
  background-color: rgba(139, 103, 44, 0.5); /* Add a semi-transparent background for readability */
  padding: 20px; /* Add padding for spacing around the text */
}

.slider-text h1,
.slider-text p {
  margin: 0; /* Remove default margin to align text properly */
  font-size: 36px; /* Increase font size */
  font-weight: bold; /* Add bold font-weight */
  color: rgb(255, 255, 255); /* Set text color */
}

.slider-text p {
  font-size: 20px; /* Customize font size for the paragraph */
}

/* Style the button */
.slider-button {
  position: absolute;
  top: 85%; /* Adjust the top value to control the button's vertical position */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider-button .btn {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(222, 178, 155);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #665646; /* Add a 2px solid border with the desired color */
  border-radius: 5px; /* Add border-radius for rounded corners */
  transition: background-color 0.3s, border-color 0.3s; /* Add transitions for background-color and border-color */
}

.slider-button .btn:hover {
  background-color: #6f46108a;
  border-color: transparent; /* Change border color to transparent on hover */
}


.information {
max-height: 100%;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.two-blocks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the content horizontally */
  margin-top: 0px;
}

.picture {
  flex: 1;
 
}

.picture img {
  max-width: 600px;
  height: auto;
  margin-left: 100px;
  float: left;
}

.text-about {
  max-width: fit-content;
flex: 1;
text-align: left;
margin-left: 50px;
margin-right: 100px;
font-family: "Times New Roman", serif; 
font-size: 20px; 
color: #333; /* Change the text color */
}

.subheading {
  font-size: 24px; /* Increase the font size for subheading */
  font-weight: bold; /* Add bold font weight */
  color: #57421abb;

}

h3 {
  font-size: 36px;
  font-family: "Times New Roman", serif; /* Add your preferred font family here */
  font-weight: bold; /* Add bold font weight */
  color: #333;
  margin-top: 20px ;
}

p {
  margin-top: 20px;
  font-size: 24px;
  color: #666;
  line-height: 1.5;
}


/* Add this CSS to your style.css file */
.contacts {
  background-color: #000000d2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center;
}

.contacts-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.instagram-button {
  margin-top: 20px;
}

.btn-instagram {
  background-color: #e4405f;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-instagram:hover {
  background-color: #c4314b;
}

.working-hours p {
  font-size: 14px;
  margin-top: 10px;
}